DATABASE_URL=
JWT_SECRET_KEY=
JWT_EXPIRES_IN=
RESEND_API_KEY=
FRONTEND_URL=
RESEND_DOMAIN=
OBDC_ENCRYPTION_KEY=


AWS_REGION=ap-southeast-1
AWS_SECRET_ACCESS_KEY=dummy
AWS_ACCESS_KEY_ID=dummy
AWS_SQS_QUEUE_URL=http://elasticmq:9324/000000000000/sync-queue