<html>
  <head>
    <meta charset='UTF-8' />
  </head>
  <body>
    <h1>Your OTP Code</h1>
    <p>Hi {{name}}, your OTP is: <strong>{{otp}}</strong></p>
    <p>This code expires in 5 minutes.</p>
  </body>
</html>